

@font-face {
    font-family: 'icrackregular';
    src: url('icrack-webfont.woff2') format('woff2'),
         url('icrack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body{
	background-color: #fdfa88;
}

.navbar{
	border: 1px solid black;
}

.page{
	background-color: #fdfa88;
}

article{
	margin: 10% 5%;
	padding:5%;
}

#logo{
	filter: saturate(7);
	height: 100%;
}

#btn, #btnCopa, #btnLiga, #btnGrupo{
	margin: 7% 0%;
}

p {
  font-family: "icrackregular";
  font-size: 140%;
}

.popup-open{
  color: black;
}

.block-title{
	font-size: 140%;
	color: black;
	height: 10%;
}

.block-strong{
	border: 5px solid black;
	background-color: #fee407;
}

.datos{
	height: 5%;
	width: 50%;
}

.vista1{
	display: block;
	visibility: visible;
}

.vista2{
	display: none;
	visibility: hidden;
}

.vista3{
	display: none;
	visibility: hidden;
}