

@font-face {
    font-family: 'Critical-Mass-LDR';
    src: url('../fonts/Critical-Mass-LDR.ttf');    
}

@font-face {
    font-family: 'Stenciland free';
    src: url('../fonts/Stenciland free.otf');    
}

body{
	background-color: #fdfa88;
}


.page{
	background-color: #fdfa88;
}

article{
	margin: 10% 5%;
	padding:5%;
}

div{
	text-align:center;
}

a{
	font-family: "Critical-Mass-LDR";
}

#title{
	font-size: 150%;
	font-family: "Critical-Mass-LDR";
}

#logo{
	filter: saturate(7);
	height: 100%;
}

#btn, #btnCopa, #btnLiga, #btnGrupo{
	margin: 7% 0%;
}

p { 
  font-family: "Stenciland free";
  font-size: 100%;
  text-align:center;
}

.popup-open{
  color: black;
}

.block-title{
	padding:3%;
	font-family: "Stenciland free";
	font-size: 140%;
	color: black;
	height: 10%;
}

.block-strong{
	border: 5px solid black;
	background-color: #fee407;
}

.datos{
    text-align:center;
	height: 5%;
	width: 50%;
}

.vista1{
	display: block;
	visibility: visible;
}

.vista2{
	display: none;
	visibility: hidden;
}

.vista3{
	display: none;
	visibility: hidden;
}